.lnchart {
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #423536;
}

.axis path, .axis line {
    fill: none;
    stroke: #A59891;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: #0050FF;
    stroke-width: 3.5px;
}
